<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <title>Gymuscles</title>

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="card-body">
            <div class="logo">
                <img src="images/Logo.jpg">
            </div>
            <div class="modules">
                <a href="instructors" class="link_to_instructors">
                    <div class="card">
                        <div class="image-container">
                            <img src="https://blog.fitclass.com.br/wp-content/uploads/2019/03/283093-educador-fisico-saiba-sua-importancia-para-ter-bons-resultados-na-academia.jpg">
                        </div>
                        <div class="wrapper">
                            <h2>Instrutor</h2>
                        </div>
                    </div>
                </a>
                <a href="members" class="link_to_members">
                    <div class="card">
                        <div class="image-container">
                            <img src="https://www.vigilantesdopeso.com.br/br/sites/br/files/styles/wwvs_default_image/public/article_masthead/mob_aca.jpg?itok=s19ur9s0">
                        </div>
                        <div class="wrapper">
                            <h2>Membro</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>