<div class="box">
    <div>Nome</div>
    <div>
        <input type="text" placeholder="Nome dos instrutor">
    </div>
</div>

<div class="box">
    <div>avatar_url</div>
    <div>
        <input type="url" placeholder="http://">
    </div>
</div>

<div class="box">
    <div>Email</div>
    <div>
        <input type="email" placeholder="instrutor@gmail.com">
    </div>
</div>

<div class="box">
    <div>Data de nascimento</div>
    <div>
        <input type="date" placeholder="01/01/2001">
    </div>
</div>

<div class="box">
    <div>Áreas de atuação</div>
    <div>
        <input type="text" placeholder="Coloque as áreas separadas por virgula">
    </div>
</div>